<style>
	.container{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: flex-start;
	height: 100%;

	}

	.roomArea{
		background-color: #C9A55C;
		width: 20%;
		height: 100%;

		border: 1px solid #B9BDC1;
    color: #797979;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #BBB inset;
    box-shadow: 0 2px 4px #BBB inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

		padding: 10px;
	}

	.chatArea{
		background-color: #F8E0E6;
		width: 65%;
		height: 100%;

		border: 1px solid #B9BDC1;
    color: #797979;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #BBB inset;
    box-shadow: 0 2px 4px #BBB inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

	}

	.chatLog{
		width: 100%;
		height: calc(100% - 45px);
		background: tomato;
  	background: linear-gradient(rgba(255,102,102,0), rgba(255,102,102,0), rgba(255,102,102,0),rgba(255,102,102,0.2)  ,rgba(255,102,102,0.4));
		padding: 10px;


	}
	.chatInput{
		background-color: green;
		width: 100%;
		height: 25px;
	}

	.userArea{
		background-color: red;
		width: 15%;
		height: 100%;

		border: 1px solid #B9BDC1;
    color: #797979;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #BBB inset;
    box-shadow: 0 2px 4px #BBB inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

		padding: 10px;
	}

</style>



<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>

	var socket = io.connect('http://localhost:8080');
	var current_room;
	// on connection to server, ask for user's name with an anonymous callback
	socket.on('connect', function() {
		// call the server-side function 'adduser' and send one parameter (value of prompt)
		socket.emit('adduser', '<%= user.name.givenName %>','<%=  user.id %>' );
	});

	// listener, whenever the server emits 'updatechat', this updates the chat body
	socket.on('updatechat', function(username, data) {
		$('#conversation').append('<b>' + username + ':</b> ' + data + '<br>');
	});


	// listener, whenever the server emits 'updaterooms', this updates the room the client is in
	socket.on('updaterooms', function(rooms, current_room) {
		this.current_room = current_room;
		$('#rooms').empty();
		$.each(rooms, function(key, value) {
			if (value == current_room) {
				$('#rooms').append('<div>' + value + '</div>');
			} else {
				$('#rooms').append('<div><a href="#" onclick="switchRoom(\'<%=  user.id %>\',\'' + value + '\')">' + value + '</a></div>');
			}
		});
	});

	function switchRoom(user_id,room) {
		socket.emit('switchRoom',user_id , room);
	}
	socket.on('updateAddRooms', function(rooms) {
		$('#rooms').empty();
		$.each(rooms, function(key, value) {
			if (value == this.current_room) {
				$('#rooms').append('<div>' + value + '</div>');
			} else {
				$('#rooms').append('<div><a href="#" onclick="switchRoom(\'' + value + '\')">' + value + '</a></div>');
			}
		});
	});


	// on load of page
	$(function() {
		// when the client clicks SEND
		$('#datasend').click(function() {

			var message = $('#data').val();
			$('#data').val('');
			// tell server to execute 'sendchat' and send along one parameter
			socket.emit('sendchat', message);
		});

		// when the client hits ENTER on their keyboard
		$('#data').keypress(function(e) {
			if (e.which == 13) {
				$(this).blur();
				$('#datasend').focus().click();
			}
		});
		$('#addRoomButton').click(function() {
			var newroom_name = $('#roomName').val();
			$('#roomName').val('');
			socket.emit('addRoom','<%= user.id %>', newroom_name);
		});


		$('#username').text('<%= user.displayName %>');

	});
</script>
<div class="container">

	<div class="roomArea">

		<b>ROOMS</b>
		<input id="roomName" style="width:100px;" />
		<input type="button" id="addRoomButton" value="send" />
		<div id="rooms"></div>

	</div>

	<div class="chatArea">

		<div class="chatLog" id="conversation"></div>
		<div class=chatInput>
			<input id="data" style="width:200px;" />
			<input type="button" id="datasend" value="send" />
		</div>

	</div>

	<div class="userArea">

		USERNAME : <div id="username"></div>

	</div>

</div>
