
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="style/profile.css">
    <title>MiniLine</title>
</head>

<div class="container">


  <p>
    Name: <%= user.displayName %><br>
    <br/>
    <img src="<%= user.photos[0].value %>" style="width: 30%; hight:30%; border-radius: 20%;"></img><br/>

    <br>
    ID: <%= user.id %><br/>
    Gender: <%= user.gender %><br/>

    ProfileURL: <%= user.profileUrl %><br/>
    <% if (user.emails) { %>
    Email: <%= user.emails[0].value %><br/>
    <% } %>
    <br/>
    <a href="/chat"><button class="button">Go to chat room</button></a>
</p>
</div>
