<p>
  <img src="<%= user.photos[0].value %>"></img><br/>
ID: <%= user.id %><br/>
Gender: <%= user.gender %><br/>
Name: <%= user.displayName %><br/>
ProfileURL: <%= user.profileUrl %><br/>
<% if (user.emails) { %>
Email: <%= user.emails[0].value %><br/>
<% } %>
<a href="/chat">Go to chat room</a>
</p>
